<header class="header-block-line">
  <h4 class="title"><%= t "techniques" %></h4>
</header>
<% Category.all.each do |category| %>
  <% @techniques = object.select {|technique| technique.category == category} %>
  <% if @techniques.any? %>
  <span class="label label-warning"><%= category.name %></span> :
  <% @techniques.each do |technique| %>
  | <%= technique.skill %> |
<% end %>
<hr>
<% end %>
<% end %>

