<section id="page-header">
  <div class="container">
  </div>
</section>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8"><h1>Edit user</h1>
    <%= render "form",user: @user, categories: @categories, button_text: t(".edit") %>
  </div>
  <div class="col-md-2">
  </div>
</div>
